[submodule "Foundry Simple Storage/lib/forge-std"]
	path = Foundry Simple Storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry Fund Me/lib/forge-std"]
	path = Foundry Fund Me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
